@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,600;0,700;1,600&family=Inter:wght@500;600;700;900&family=Joti+One&family=Kode+Mono:wght@400..700&family=Lato:wght@400;900&family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@500;600;900&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Riot&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik&family=Rubik+Burned&family=Rubik+Glitch&family=Rubik+Maps&family=Rubik+Scribble&family=Ubuntu&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
:root {
  --primary-color: rgb(233,233,229);
  --secondary-color:rgb(6,6,4) ;
  --accent-color: rgb(255, 206, 71);
}
body{
  font-family: "Roboto", sans-serif;
  color: rgb(34, 34, 34);
}

@mixin fold {
  @media (max-width: 300px) {
      @content;
  }
}
@mixin mobile {
  @media (min-width: 300px) and (max-width: 738px) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: 739px) and (max-width: 1024px) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) and (max-width: 1366px) {
      @content;
  }
}

