@import '../../App.scss';

.bannerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding-bottom: 2rem;

.textContainer{
    width: 40vw;

    h1{
        font-size: 9vh;
        margin: 2vh 0 2vh 0;

        span{
            color: var(--accent-color);
            text-shadow: 4px 4px 5px #797979;
        }
    }
    h3{
        font-size: 4vh;
    }
    h6{
        font-size: 2.4vh;
        font-weight: 100;
    }
 button{
    background-color: var(--accent-color);
    border: none;
    padding: 1rem 2.7rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 3vh 0 3vh 0;
 }

 .socialContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    hr{
        width: 60%;
        height: 1px;
    }
    a{
        color: black;
        font-size: 1.2rem;
    }
    a:hover{
        color: var(--accent-color);
        transition: 1s;
    }
 }
}
img{
    width: 35vw;
    border-radius: 30% 50% 30% 70%;
    margin: 5vh 0 0 5vh;
}
}

.IDOsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        background: black;
        padding: 1.5rem 10rem;
        color: white;
        position: relative;
        bottom: 5vh;
        font-size: 1.2rem;
    }
    h1{
        font-size: 2.3rem;
        font-weight: 900;
    }
    h6{
        font-size: .9rem;
        font-weight: 200;
        padding: .8rem;
    }
 .numberContainer{
    display: flex;
    gap: 2vw;
    text-align: center;

    h1{
        // text-shadow: 4px 4px 7px var(--accent-color);
        span{
            color: var(--accent-color);
            text-shadow: 3px 3px 6px rgb(133, 133, 133);
            margin-left: .2rem;
        }
    }
    h5{
        font-size: 1rem;
        color: black;
        font-weight: 900;
        margin-top: 0.3rem;
    }
 } 
 
 .servicesContainer{

    display: flex;
    gap: 3vw;
    margin-top: 5vh;

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .imageContainer{
        width: 100px;
        height: 100px;
        background-size: cover;
        border-radius: 10px;
    }

    h3{
        margin-top: 1.7vh;
    }
 }
 }
}
