@import '../../App.scss';

.bannerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding-bottom: 2rem;

    @include fold{
        flex-direction: column;
        padding-bottom: 8vh;
    }
    @include mobile{
        flex-direction: column;
        padding-bottom: 8vh;
    }

.textContainer{
    width: 40vw;

    @include fold{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include mobile{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 9vh;
        margin: 2vh 0 2vh 0;

        @include fold{
          font-size: 5vh;
          text-align: center;
        }
        @include mobile{
          font-size: 5.5vh;
          text-align: center;
        }

        span{
            color: var(--accent-color);
            text-shadow: 4px 4px 5px #797979;
        }
    }
    h3{
        font-size: 4vh;

        @include fold{
         font-size: 2.7vh;
         margin-top: 3rem;
        }
        @include mobile{
         font-size: 3vh;
         margin-top: 3rem;
        }
    }
    h6{
        font-size: 2.4vh;
        font-weight: 100;

        @include fold{
         font-size: 1.9vh;
         text-align: center;
         padding: 0 .5rem;
         font-weight: 200;
        }
        @include mobile{
         font-size: 2vh;
         text-align: center;
         padding: 0 .5rem;
         font-weight: 200;
        }
    }
 button{
    background-color: var(--accent-color);
    border: none;
    padding: 1rem 2.7rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 3vh 0 3vh 0;
 }

 .socialContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    @include fold{
        width: 80%;
    }
    @include mobile{
        width: 80%;
    }

    hr{
        width: 60%;
        height: 1px;
    }
    a{
        color: black;
        font-size: 1.2rem;

        @include fold{
         margin-left: 1rem;
        }
        @include mobile{
         margin-left: 1rem;
        }
    }
    a:hover{
        color: var(--accent-color);
        transition: 1s;
    }

    h6{
        @include fold{
            font-size: 0.9rem;
        }
        @include mobile{
            font-size: 0.9rem;
        }
    }
 }
}
img{
    width: 35vw;
    border-radius: 30% 50% 30% 70%;
    margin: 5vh 0 0 5vh;

    @include fold{
        width: 80vw;
        margin-left: 0;
    }
    @include mobile{
        width: 80vw;
        margin-left: 0;
    }
}
}

.IDOsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        background: black;
        padding: 1.5rem 10rem;
        color: white;
        position: relative;
        bottom: 5vh;
        font-size: 1.2rem;

        @include fold{
            padding: 1.2rem 3.5rem;
            font-size: 1rem;
            bottom: 4vh;
        }
        @include mobile{
            padding: 1.3rem 4rem;
            font-size: 1rem;
            bottom: 4vh;
        }
    }
    h1{
        font-size: 2.3rem;
        font-weight: 900;

        @include fold{
            font-size: 1.5rem;
            text-align: center;
            padding: 0 .7rem;
        }
        @include mobile{
            font-size: 1.8rem;
        }
    }
    h6{
        font-size: .9rem;
        font-weight: 200;
        padding: .8rem;

        @include fold{
            font-size: 0.7rem;
            text-align: center;
            padding: 0 .6rem;
            margin-top: 1rem;
        }
        @include mobile{
            font-size: 0.7rem;
            text-align: center;
            padding: 0 .6rem;
            margin-top: 1rem;
        }
    }
 .numberContainer{
    display: flex;
    gap: 2vw;
    text-align: center;

    @include fold{
        margin-top: 1.5rem;
    }
    @include mobile{
        margin-top: 2rem;
    }

    h1{

        span{
            color: var(--accent-color);
            text-shadow: 3px 3px 6px rgb(133, 133, 133);
            margin-left: .2rem;
        }
    }
    h5{
        font-size: 1rem;
        font-weight: 900;
        margin-top: 0.3rem;

        @include fold{
            font-size: 0.7rem;
        }
        @include mobile{
            font-size: 0.7rem;
        }
    }
 } 
 
 .servicesContainer{

    display: flex;
    gap: 5vw;
    margin-top: 7vh;

    @include fold{
        gap: 3vw;
        margin-top: 5vh;
    }
    @include mobile{
        gap: 3vw;
        margin-top: 5vh;
    }

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .imageContainer{
        width: 8rem;
        height: 8rem;
        background-size: cover;
        border-radius: 10px;

        @include fold{
            width: 4rem;
            height: 4rem;
        }
        @include mobile{
            width: 5rem;
            height: 5rem;
        }
    }

    h3{
        margin-top: 1.7vh;

        @include fold{
            font-size: .6rem;
        }
        @include mobile{
            font-size: .8rem;
        }
    }
 }
 }
}

 .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    margin-top: 11vh;
    text-align: center;
    padding-bottom: 15vh;
    overflow: hidden;

    @include fold{
        margin-top: 8vh;   
    }
    @include mobile{
        margin-top: 8vh;   
    }


    h3{
        background: black;
        padding: 1.5rem 10rem;
        color: white;
        font-size: 1.2rem;
        // position: relative;
        // bottom: 5vh;
        margin: 3vh 0;

        @include fold{
            padding: 1.2rem 4.5rem;
            font-size: 1rem;
            bottom: 3vh;
        }
        @include mobile{
            padding: 1.3rem 5rem;
            font-size: 1rem;
            bottom: 3vh;
        }
    }

 .firstRow{
    display: flex;
    gap: 2vw;
    height: 45vh;
    margin-top: 5vh;

    @include fold{
        height: 17vh;
    }
    @include mobile{
        height: 20vh;
    }

    .project1{
        width: 40vw;
        border-radius: 12px;
        
        @include fold{
            width: 50vw;
        }
        @include mobile{
            width: 50vw;
        }

    }
    .project2{
        width: 30vw;
        border-radius: 12px;

        @include fold{
         width: 35vw;   
        }
        @include mobile{
         width: 35vw;   
        }

    }
 }
 .secondRow{
    display: flex;
    gap: 1.7vw;
    margin-top: 2vw;
    height: 35vh;

    @include fold{
        height: 13vh;
    }
    @include mobile{
        height: 15vh;
    }

    .project3{
        width: 33vw;
        border-radius: 12px;

        @include mobile{
          width: 38vw;
        }
        @include fold{
          width: 38vw;
        }
    }
    .project4{
        width: 18vw;
        border-radius: 12px;
        background-position: -80px;

        @include fold{
         width: 23vw;
        }
        @include mobile{
         width: 23vw;
        }

    }
    .project5{
        width: 18vw;
        border-radius: 12px;
        position: relative;

        @include fold{
            width: 22vw;
        }
        @include mobile{
            width: 22vw;
        }
  
    }

}
  .project1,.project2,.project3,.project4,.project5{
    box-shadow: 4px 4px 8px rgb(49, 49, 49);
    transition: 1s;

    h5{
        margin-top: 1rem;
        font-size: 1rem;
        text-shadow: 3px 3px 6px var(--accent-color);
        font-weight: 500;
        color: white;

        @include fold{
            font-size: .8rem;
        }
        @include mobile{
            font-size: .8rem;
        }

    }

    &:hover{
        cursor: pointer;
        scale: 1.03;
    }
  }
 }

 .AboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vh;
    
    h3{
        background: black;
        padding: 1.5rem 10rem;
        color: white;
        font-size: 1.2rem;
        position: relative;
        bottom: 5vh;
        
        @include fold{
            padding: 1.1rem 4.5rem;
        }
        @include mobile{
            padding: 1.3rem 5rem;
        }
    }
    .about{
        display: flex;
        
            @include fold{
                flex-direction: column;
                align-items: center;
            }
            @include mobile{
                flex-direction: column;
                align-items: center;
            }

    .iconsContainer{
        width: 60vw;

        @include fold{
         width: 95vw;
         display: flex;
         flex-direction: column;
         align-items: center;
        }
        @include mobile{
         width: 95vw;
         display: flex;
         flex-direction: column;
         align-items: center;
        }

    .first{
        display: flex;
        margin-top: 4vh;

    .images{
        width: 70px;
        height: 70px;
        background-size: cover;
        background-position: .5px .5px;
        border-radius: 50%;
        margin-right: 3.3vw;
        box-shadow: 3px 3px 8px rgb(92, 92, 92);

        @include fold{
         width: 40px;
         height: 40px;
        }
        @include mobile{
         width: 40px;
         height: 40px;
        }
    }
    }
    }
    }
 }



 .connectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding-bottom: 1rem;

    h3{
        background: black;
        padding: 1.5rem 10rem;
        color: white;
        font-size: 1.2rem;
        position: relative;
        bottom: 5vh;

        @include fold{
            padding: 1.2rem 3rem;
        }
        @include mobile{
            padding: 1.3rem 4rem;
        }
    }
    
    .connect{
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;

        @include fold{
            flex-direction: column;
        }
        @include mobile{
            flex-direction: column;
        }
    
    h2{
        margin: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 1.3rem;
        text-shadow: 3px 3px 6px var(--accent-color);
        text-align: center;

        @include fold{
            width: 80vw;
            font-size: 1rem;
            margin: 3vh;
        }
        @include mobile{
            width: 80vw;
            font-size: 1rem;
            margin: 3vh;
        }
     }
    .icon{
        margin-right: .5vw;

        @include fold{
            margin-right: 2vw;
        }
        @include mobile{
            margin-right: 2vw;
        }
    }
 }
}